@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for Discord feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #2f3136; 
}
::-webkit-scrollbar-thumb {
  background: #202225; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #40444b; 
}

body {
  background-color: #36393f;
  color: #dcddde;
  margin: 0;
  font-family: 'gg sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}